.about-content{
    position: relative;

    .mycard-container-container{
        display: inline-block;
        position: absolute;

        top: 30px;
        left:30px ;
    }
}

@media (max-width: 1118px) {
    .about-content{
        width: 100%;
        .mycard-container-container{
            position: relative;
            display: flex;
            justify-content: center;
            
            top:0;
            left:0;            
        }
    }
}