@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$font-family-primary: 'Space Mono', monospace;

.legend-super-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    
    .legend-container{
        width:50%;
        height: 350px;       

        margin-top: -175px;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;

        padding-left: 50px;
        padding-right: 50px;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        .legend-text{
            text-align: center;
            font-family: $font-family-primary;
            font-weight: 700;
            font-size: 1.8em;
        }
    }

}

@media (max-width: 414px) {
    .legend-super-container{        
        .legend-container{
            .legend-text{
                font-size: 1em;
            }
        }
    }
  }