@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$font-family-primary: 'Space Mono', monospace;

.mycard-container{
    font-family: $font-family-primary;  
    display: inline-block;

    .mycard-figure{
        height: 400px;
        width: auto;
        overflow: hidden;
        margin: 0;
        display: block;

        .mycard-image{
            height: inherit;
            width: inherit;
            object-fit: contain;
        }
    }

    .mycard-caption-container{
        .mycard-caption{
            margin:0;
            margin-top:5px;
            font-size: 1.5em;
        }

        .mycard-emailinfo{
            margin: 0 ;
            font-size: 1em;
            font-weight: 100;
        }

        .mycard-icon-bar{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }

}