@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$font-family-primary: 'Space Mono', monospace;

.navbar-nav {
    width: 100%;
    font-family: $font-family-primary;    

    .navbar-container{
        /* dimensions */
        width: 100%;
        height: auto;

        /* display */
        display: grid;
        grid-template-columns: 50% 50%;

        /*styling*/
        background-color: #FF7F11;        
                
    }
}

.navbar-left {
    .navbar-gus{
        margin-left: 15%;
        color:white;

        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.navbar-right{
    .navbar-item-container{
        /*display*/
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        margin-right: 15%;

        .navbar-about{
            margin-right: 25px;
            color:white;

            margin-top: 20px;
            margin-bottom: 20px;

            transition: margin-top 0.3s ease-in-out,margin-bottom 0.3s ease-in-out;
        }

        .navbar-projects{
            color: white;

            margin-top: 20px;
            margin-bottom: 20px;

            transition: margin-top 0.3s ease-in-out,margin-bottom 0.3s ease-in-out;
        }
    }
}